{% extends "base.html" %}
{% load static %}
{% block title %}
  Error 404 | Page Not Found
{% endblock title %}
{% block content %}
  <span class="absolute bg-gradient-to-tr from-red-900/50 to-orange-500/90 inset-0 z-0 h-full w-full object-cover"></span>
  <main class="container relative flex flex-col items-center justify-center text-base-content min-h-screen">
    <a href="{% url 'core:home' %}">
      <img width="auto"
           height="auto"
           class="py-6 px-8 h-48"
           src="{% static 'svgs/logo.svg' %}"
           alt="Pramey Shala" />
    </a>
    <div class="bg-white p-8 rounded-2xl shadow-md shadow-indigo-600/50 text-center">
      <h1 class="text-2xl first-line:md:text-6xl font-mono">Error 404 <span class="hidden md:block">|</span> Page Not Found</h1>
    </div>
    <a href="{% url 'core:home' %}" class="btn btn-outline mt-8 btn-xs">Go Back Home</a>
  </main>
{% endblock content %}
