{% extends "layouts/dashboard.html" %}
{% load static %}
{% load truncate %}
{% block title %}
  {{ title }} | Pramey Shala
{% endblock title %}
{% block content %}
  <div class="mt-12 mb-8 flex flex-col gap-12">
    <div class="flex justify-between px-6">
      {% if perms.courses.add_classes %}
        <button onclick="create_class.showModal()"
                class="btn bg-gradient-to-br from-purple-600 to-pink-400 text-white px-12 border-0 shadow-md shadow-purple-500/50">
          <i class="far fa-plus"></i>Add Class
        </button>
      {% endif %}
      <form id="class-filter-form"
            method="get"
            action="{% url 'courses:classes' %}">
        <select class="select select-bordered max-w-xs"
                name="class"
                id="class-select"
                placeholder="All Classes">
          <option value="" {% if not class_filter %}selected{% endif %}>All Classes</option>
          <option value="Class 9th" {% if class_filter == 'Class 9th' %}selected{% endif %}>Class 9th</option>
          <option value="Class 10th" {% if class_filter == 'Class 10th' %}selected{% endif %}>Class 10th</option>
          <option value="Class 11th" {% if class_filter == 'Class 11th' %}selected{% endif %}>Class 11th</option>
          <option value="Class 12th" {% if class_filter == 'Class 12th' %}selected{% endif %}>Class 12th</option>
        </select>
        <button class=" btn bg-gradient-to-br from-indigo-600 to-purple-400 text-white px-3 border-0 shadow-md shadow-purple-500/50"
                type="button"
                id="clear-filter">Clear Filter</button>
      </form>
    </div>
    <div class="relative flex w-full flex-col rounded-xl bg-base-100 bg-clip-border text-base-content shadow-md">
      <div class="relative mx-4 -mt-6 mb-4 grid px-6 py-8 overflow-hidden rounded-xl bg-gradient-to-tr from-indigo-600 to-indigo-400 bg-clip-border text-white shadow-lg shadow-indigo-500/40">
        <h1 class="block font-sans leading-snug tracking-normal text-white antialiased text-lg font-semibold">{{ title }}</h1>
      </div>
      <div class="flex flex-col gap-4 p-6 overflow-x-auto">
        <table class="table table-auto">
          <thead class="uppercase text-sm">
            <tr>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Description</th>
              <th class="px-4 py-3">Slug</th>
              <th class="px-4 py-3">Student Enrolled</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </thead>
          <tfoot class="border-t border-blue-gray-50 py-3 px-5 text-left font-bold uppercase text-blue-gray-400 text-sm">
            <tr>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Description</th>
              <th class="px-4 py-3">Slug</th>
              <th class="px-4 py-3">Student Enrolled</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for class in classes %}
              <tr class="border-b border-blue-gray-50">
                <td class="px-4 py-3">{{ class.name }}</td>
                <td class="px-4 py-3">{{ class.description|truncatewords_by_chars:100 }}</td>
                <td class="px-4 py-3">{{ class.slug }}</td>
                <td class="px-4 py-3 {% if not class.enroll_count > 0 %}bg-red-300/50{% endif %}">{{ class.enroll_count }}</td>
                <td class="flex gap-2 px-4 py-3">
                  {% if perms.courses.change_classes %}
                    <button onclick="update_class_{{ class.pk }}.showModal()"
                            class="btn btn-sm btn-success btn-square">
                      <i class="fad fa-edit"></i>
                    </button>
                  {% endif %}
                  {% if perms.courses.delete_classes %}
                  <a href="{% url 'courses:class-delete' pk=class.pk %}"
                     onclick="if(confirm('Are you sure you want to delete {{ class.name }} from database?')) return true; else return false;"
                     class="btn btn-sm btn-error btn-square"><i class="far fa-trash-alt"></i>
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="p-5 flex justify-end">
    <div class="join">
      {% if page_obj.has_previous %}
        <a class="join-item btn btn-primary"
           href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="join-item btn btn-disabled">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span>
      {% if page_obj.has_next %}
        <a class="join-item btn btn-primary"
           href="?page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% if perms.courses.add_classes %}
  <dialog id="create_class"
          class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
    <form method="post"
          enctype="multipart/form-data"
          class="modal-box sm:max-w-5xl">
      {% csrf_token %}
      <h2 class="font-mono font-semibold text-lg">Add New Class</h2>
      <div class="relative mb-4">
        <div class="form-control w-full djanog-custom-forms grid grid-cols-1 md:grid-cols-2 gap-4">{{ form.as_div }}</div>
      </div>
      <div class="modal-action justify-between">
        <p class="text-xs mt-auto">Press esc to close the window or outside the dialog box.</p>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
    <form method="dialog" class="modal-backdrop backdrop-blur-md">
      <button>close</button>
    </form>
  </dialog>
{% endif %}
{% if perms.courses.change_classes %}
  {% for class in classes %}
    <dialog id="update_class_{{ class.pk }}"
            class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
      <form method="post"
            enctype="multipart/form-data"
            action="{% url 'courses:class-update' pk=class.pk %}"
            class="modal-box sm:max-w-5xl">
        {% csrf_token %}
        <h2 class="font-mono font-semibold text-lg">Update - {{ class.name }}</h2>
        <div class="relative mb-4">
          <div class="form-control w-full djanog-custom-forms grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ class.form.as_div }}
          </div>
        </div>
        <div class="modal-action justify-between">
          <p class="text-xs mt-auto">Press esc to close the window or outside the dialog box.</p>
          <button type="submit" class="btn btn-success shadow">Update</button>
        </div>
      </form>
      <form method="dialog" class="modal-backdrop backdrop-blur-md">
        <button>close</button>
      </form>
    </dialog>
    <script>new EasyMDE({element: document.getElementById('{{ class.form.description.id_for_label }}')});</script>
  {% endfor %}
{% endif %}
{% endblock content %}
{% block head_link %}
  <link rel="stylesheet"
        href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock head_link %}
{% block body_js %}
  <script>
  const easyMDE = new EasyMDE({element: document.getElementById('{{ form.description.id_for_label }}')});
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
    const classSelect = document.getElementById('class-select');
    const classForm = document.getElementById('class-filter-form');
    const clearFilterButton = document.getElementById('clear-filter');
  
    const urlParams = new URLSearchParams(window.location.search);
    const classFilter = urlParams.get('class');
    
    classSelect.value = classFilter || "";

    classSelect.addEventListener('change', function () {
        classForm.submit();
    });
    
    clearFilterButton.addEventListener('click', function () {
        classSelect.value = ''; 
        classForm.submit();     
    });
});
  </script>
{% endblock body_js %}
