{% extends "base.html" %}
{% load static %}
{% block title %}
Classes | Pramey Shala
{% endblock title %}
{% block content %}
<section>
    <div class="container">
        <ul>
            {% for class in classes %}
            <li>{{class.name}}</li>
            <li>{{class.description}}</li>
            {% endfor %}
        </ul>
    </div>
</section>
<h1 class="mb-4 text-6xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
    Working!!</h1>

{% endblock content %}