<div id="main_{{ form.prefix }}"
     class="form-control w-full djanog-custom-forms grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="form-control">
    <label for="{{ form.name.id_for_label }}">
      <span class="label-text">{{ form.name.label }}</span>
    </label>
    {{ form.name }}
    <label class="text-error">{{ form.name.errors }}</label>
  </div>
  <div class="form-control">
    <label for="{{ form.type.id_for_label }}">
      <span class="label-text">{{ form.type.label }}</span>
    </label>
    {{ form.type }}
    <label class="text-error">{{ form.type.errors }}</label>
  </div>
</div>
<p class="my-2">
  Total Questions:<span id="question-count">0</span>
</p>
<div class="flex items-center justify-center">
  <button type="button"
          class="btn bg-gradient-to-br from-purple-600 to-pink-400 text-white px-12 border-0 shadow-md shadow-purple-500/50 mt-8"
          onclick="handleAddQuestion(this)">
    <i class="far fa-plus"></i>Add Question
  </button>
</div>
<script>
  let question_number = 0;
  function handleAddChoice(e, question_number){
  console.log(e);
  const choiceQuestionNumber = (e.parentNode.id).slice(1);
  const choiceHtml = `
   <div class='mt-3' data-question-number="${question_number}">
      <input type='text' name="choice${choiceQuestionNumber}[]" placeholder='Enter Choice Value' required>
      <div class='flex justify-between mt-2'>
        <div class="inline-flex">
          <input name="is_correct-${choiceQuestionNumber}[]" type='checkbox' id='is_checked-${question_number}'>
          <label for='is_checked-${question_number}'>Correct</label>
        </div>
        <button type="button" class="btn btn-sm bg-gradient-to-br from-red-600 to-pink-400 text-white btn-square mt-2.9" onClick="handleRemoveChoice(this)"><i class="far fa-trash-alt"></i>
      </div>
    </div>
  `;
    const choiceElement = document.getElementById(`q${question_number}`);
    choiceElement.insertAdjacentHTML('beforeend', choiceHtml);

  }
  function handleRemoveQuestion(e){
    const remove_class = e.id;
    const remove_element=document.getElementsByClassName(remove_class);
    console.log(remove_element[0]);
    remove_element[0].remove();
    question_number--;
    document.getElementById('question-count').innerText = question_number;
  }
  function handleAddQuestion(e){
    const questionHtml = `
    <div class="question${question_number} md:col-span-2">
      <div class="form-control">
        <label for="question-${question_number}">
          <span class="label-text">Question</span>
        </label>
        <textarea id="question-${question_number}" name="question" class="md:col-span-2 row-span-1 grow" required></textarea>
        <label class="text-error">{{ form.questions.errors }}</label>
      </div>
      <div class="flex items-center justify-between gap-2">
        <div class="form-control w-full">
          <label for="figure-${question_number}">
            <span class="label-text">Figure</span>
          </label>
          <input type="file"
                 name="question_figure-${question_number}"
                 id="question_figure-${question_number}">
          <label class="text-error">{{ form.questions.figure.errors }}</label>
        </div>
        <button type="button"
                class="btn bg-gradient-to-tr from-red-600 to-pink-800 text-white mt-6"
                id="question${question_number}"
                onclick="handleRemoveQuestion(this)">
          <i class="far fa-trash-alt"></i>Remove Question
        </button>
      </div>
      <div>
        <div id="q${question_number}" class="grid grid-cols-2 gap-2"></div>
        <div class="flex justify-end">
          <button class="btn btn-primary text-white mt-6"
                  onclick="handleAddChoice(this, ${question_number})"
                  type="button">
            <i class="far fa-plus"></i>Add choice
          </button>
        </div>
      </div>
    </div>
    `;
    document.getElementById('main_{{ form.prefix }}').insertAdjacentHTML('beforeend', questionHtml);
    question_number++;
    document.getElementById('question-count').innerText = question_number;
  }
  function handleRemoveChoice(e){
    e.parentNode.parentNode.remove();
  }
</script>
