{% extends "layouts/dashboard.html" %}
{% load static %}
{% block title %}
  {{ title }} | Pramey Shala
{% endblock title %}
{% block content %}
  <div class="mt-12 mb-8 flex flex-col gap-12">
    <div class="flex justify-between px-6">
      <button onclick="edit_chapter.showModal()"
              class="btn bg-gradient-to-br from-green-600 to-green-900 text-white px-12 border-0 shadow-md shadow-green-500/50">
        <i class="far fa-pencil"></i>Edit Lesson
      </button>
      <button class="btn bg-gradient-to-br from-red-600 to-orange-900 text-white px-12 border-0 shadow-md shadow-red-500/50">
        <i class="far fa-trash"></i>Delete Lesson
      </button>
    </div>
    <div class="relative flex w-full flex-col rounded-xl bg-base-100 bg-clip-border text-base-content shadow-md">
      <div class="relative mx-4 -mt-6 mb-4 grid px-6 py-8 overflow-hidden rounded-xl bg-gradient-to-tr from-indigo-600 to-indigo-400 bg-clip-border text-white shadow-lg shadow-indigo-500/40">
        <h1 class="block font-sans leading-snug tracking-normal text-white antialiased text-lg font-semibold">{{ title }}</h1>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-6">
        <div class="p-4 border-r-2">
          <div class="rounded-lg">
            <img src="/{{ lesson.thumb_url }}"
                 alt="{{ lesson.title }}"
                 width="auto"
                 height="160px"
                 class="h-40" />
          </div>
        </div>
        <div class="p-4">
          <div class="mb-4">
            <h2 class="font-mono font-semibold">Description</h2>
            <p class="text-sm">{{ lesson.description }}</p>
          </div>
          {% if lesson.lesson_type == 'video' %}
            <div class="mb-4">
              <h2 class="font-mono font-semibold">Video Platform</h2>
              <p class="text-sm capitalize">{{ lesson.platform }}</p>
            </div>
            <div class="mb-4">
              <h2 class="font-mono font-semibold">Video ID</h2>
              <p class="text-sm">{{ lesson.platform_video_id }}</p>
            </div>
          {% endif %}
        </div>
        <div>
          <div class="mb-4">
            <h2 class="font-mono font-semibold">Chapter</h2>
            <p class="text-sm">{{ lesson.chapter.name }}</p>
          </div>
          <div class="mb-4">
            <h2 class="font-mono font-semibold">Course</h2>
            <p class="text-sm">{{ lesson.chapter.course.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <dialog id="edit_chapter"
          class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
    <form method="post"
          enctype="multipart/form-data"
          action="{% url 'courses:lesson-update' pk=lesson.pk %}"
          class="modal-box sm:max-w-5xl">
      {% csrf_token %}
      <h2 class="font-mono font-semibold text-lg">
        Update - {{ lesson.title }} of {{ lesson.chapter.name }} in {{ lesson.chapter.course.name }}
      </h2>
      <div class="relative mb-4">
        <div class="w-full djanog-custom-forms grid grid-flow-dense grid-cols-1 md:grid-cols-2 gap-4">{{ form }}</div>
      </div>
      <div class="modal-action justify-between">
        <p class="text-xs mt-auto">Press esc to close the window or outside the dialog box.</p>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
    <form method="dialog" class="modal-backdrop backdrop-blur-md">
      <button>close</button>
    </form>
  </dialog>
{% endblock content %}
