<nav class="block backdrop-saturate-200 backdrop-blur-2xl bg-opacity-80 border border-white/80 w-full max-w-full px-4 bg-white text-base-content rounded-xl transition-all sticky top-4 z-40 py-3 shadow-md shadow-blue-gray-500/5">
  <div class="flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center">
    <div class="capitalize">
      <nav class="w-max breadcrumbs text-sm">
        <ol>
          {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.url %}
              <li><a href="{% url breadcrumb.url %}">{{ breadcrumb.label }}</a></li>
            {% else %}
              <li>{{ breadcrumb.label }}</li>
            {% endif %}
          {% endfor breadcrumbs %}
        </ol>
      </nav>
      <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900">
        {{ title }}
      </h6>
    </div>
    <div class="flex items-center">
      <div class="block xl:hidden">
        <button id="side_btn" onclick="openSidebar()" class="btn btn-square btn-ghost btn-sm">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
        <button onclick="closeSidebar()" class="btn btn-square btn-ghost btn-sm sidebar_btn_close hidden">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
