{% extends "layouts/dashboard.html" %}
{% load humanize %}
{% load static %}
{% block title %}
  Learning Center | Pramey Shala
{% endblock title %}
{% block content %}
  <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
    {% if perms.accounts.view_payments %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-green-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="far fa-money-bills fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Current Month Sales</p>
          <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
            ₹ {{ total_amount_month|intcomma }}
          </h4>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-green-500">+55%</strong>&nbsp;than last week
          </p>
        </div>
      </div>
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-lime-600 to-lime-400 text-white shadow-lime-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="far fa-money-bill-wave fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Today's Sales</p>
          <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
            ₹ {{ total_amount_day|intcomma }}
          </h4>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-red-500">-100%</strong>&nbsp;than last yesterday
          </p>
        </div>
      </div>
    {% endif %}
    {% if perms.accounts.view_enrollment %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-purple-600 to-purple-400 text-white shadow-purple-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="fa-regular fa-user-plus fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">
            Students Enrolled Today
          </p>
          <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
            {{ enrollment_count_day }}
          </h4>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-green-500">+100%</strong>&nbsp;than last week
          </p>
        </div>
      </div>
    {% endif %}
    {% if perms.accounts.view_user %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-cyan-600 to-cyan-400 text-white shadow-cyan-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="fa-regular fa-user-plus fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">User Joined Month</p>
          <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
            {{ user_this_month }}
          </h4>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-green-500">+100%</strong>&nbsp;than last month
          </p>
        </div>
      </div>
    {% endif %}
    {% if perms.courses.view_classes %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-deep-orange-600 to-deep-orange-400 text-white shadow-deep-orange-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="far fa-screen-users fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Total Classes</p>
          <h4 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-snug text-blue-gray-900">
            {{ class_count }}
          </h4>
        </div>
      </div>
    {% endif %}
    {% if perms.courses.view_subject %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-deep-purple-600 to-deep-purple-400 text-white shadow-deep-purple-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="fa-regular fa-books fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Total Subject</p>
          <h4 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-snug text-blue-gray-900">
            {{ subject_count }}
          </h4>
        </div>
      </div>
    {% endif %}
    {% if perms.courses.view_chapter %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-orange-600 to-orange-400 text-white shadow-deep-orange-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="fa-regular fa-book fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Total Chapters</p>
          <h4 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-snug text-blue-gray-900">
            {{ chapter_count }}
          </h4>
        </div>
      </div>
    {% endif %}
    {% if perms.courses.view_lesson %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-red-600 to-red-400 text-white shadow-red-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="fa-regular fa-chalkboard fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Total Lessons</p>
          <h4 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-snug text-blue-gray-900">
            {{ lesson_count }}
          </h4>
        </div>
      </div>
    {% endif %}
    {% if perms.accounts.view_enrollment %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-pink-600 to-pink-400 text-white shadow-pink-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="fa-regular fa-user-graduate fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">
            Total Students Enrolled
          </p>
          <h4 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-snug text-blue-gray-900">
            {{ enrollment_count }}
          </h4>
        </div>
      </div>
    {% endif %}
    {% if perms.accounts.view_user %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-gray-600 to-gray-400 text-white shadow-blue-gray-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="fa-regular fa-users fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Users Joined This Year</p>
          <h4 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-snug text-blue-gray-900">
            {{ user_this_year }}
          </h4>
        </div>
      </div>
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <i class="fa-regular fa-users fa-2xl"></i>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Total Users</p>
          <h4 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-snug text-blue-gray-900">
            {{ user_count }}
          </h4>
        </div>
      </div>
    {% endif %}
  </div>
  <form id="filterForm" class="pb-20">
    <label class="label" for="year">Choose a year for graphs:</label>
    <select class="select select-bordered w-56" name="year" id="year"></select>
    <input type="submit"
           value="Load"
           name="_load"
           class="btn btn-sm btn-outline">
  </form>
  <div class="mb-6 grid grid-cols-1 gap-y-12 gap-x-6 md:grid-cols-2 xl:grid-cols-3">
    {% if perms.accounts.view_payments %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40 shadow-lg -mt-6">
          <div class="min-h-[235px]">
            <canvas id="salesChart"></canvas>
          </div>
        </div>
        <div class="p-6">
          <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900">
            Yearly Sales
          </h6>
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">
            Successfully Payment Done in the time spam
          </p>
        </div>
      </div>
    {% endif %}
    {% if perms.accounts.view_user %}
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-green-500/40 shadow-lg -mt-6">
          <div class="min-h-[235px]">
            <canvas id="usersChart"></canvas>
          </div>
        </div>
        <div class="p-6">
          <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900">
            Users Joined this Year
          </h6>
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600"></p>
        </div>
        <div class="p-6 border-t border-blue-gray-50 px-6 py-5">
          <p class="antialiased font-sans text-sm leading-normal flex items-center font-normal text-blue-gray-600">
            <i class="fa-regular fa-clock text-blue-gray-400 mr-2"></i>
            &nbsp;updated 4 min ago
          </p>
        </div>
      </div>
    {% endif %}
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
      <div class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-pink-600 to-pink-400 text-white shadow-pink-500/40 shadow-lg -mt-6">
        <div class="min-h-[235px]">{% comment %} chartjs mount here {% endcomment %}</div>
      </div>
      <div class="p-6">
        <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900">
          Title
        </h6>
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Details</p>
      </div>
      <div class="p-6 border-t border-blue-gray-50 px-6 py-5">
        <p class="antialiased font-sans text-sm leading-normal flex items-center font-normal text-blue-gray-600">
          <i class="fa-regular fa-clock text-blue-gray-400 mr-2"></i>
          &nbsp;updated 4 min ago
        </p>
      </div>
    </div>
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
      <div class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-purple-600 to-purple-400 text-white shadow-purple-500/40 shadow-lg -mt-6">
        <div class="min-h-[235px]">{% comment %} chartjs mount here {% endcomment %}</div>
      </div>
      <div class="p-6">
        <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900">
          Title
        </h6>
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Details</p>
      </div>
      <div class="p-6 border-t border-blue-gray-50 px-6 py-5">
        <p class="antialiased font-sans text-sm leading-normal flex items-center font-normal text-blue-gray-600">
          <i class="fa-regular fa-clock text-blue-gray-400 mr-2"></i>
          &nbsp;updated 4 min ago
        </p>
      </div>
    </div>
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
      <div class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-amber-600 to-amber-400 text-white shadow-amber-500/40 shadow-lg -mt-6">
        <div class="min-h-[235px]">{% comment %} chartjs mount here {% endcomment %}</div>
      </div>
      <div class="p-6">
        <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900">
          Title
        </h6>
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Details</p>
      </div>
      <div class="p-6 border-t border-blue-gray-50 px-6 py-5">
        <p class="antialiased font-sans text-sm leading-normal flex items-center font-normal text-blue-gray-600">
          <i class="fa-regular fa-clock text-blue-gray-400 mr-2"></i>
          &nbsp;updated 4 min ago
        </p>
      </div>
    </div>
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
      <div class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-deep-orange-600 to-deep-orange-400 text-white shadow-deep-orange-500/40 shadow-lg -mt-6">
        <div class="min-h-[235px]">{% comment %} chartjs mount here {% endcomment %}</div>
      </div>
      <div class="p-6">
        <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900">
          Title
        </h6>
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Details</p>
      </div>
      <div class="p-6 border-t border-blue-gray-50 px-6 py-5">
        <p class="antialiased font-sans text-sm leading-normal flex items-center font-normal text-blue-gray-600">
          <i class="fa-regular fa-clock text-blue-gray-400 mr-2"></i>
          &nbsp;updated 4 min ago
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
{% block body_js %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
  {% if perms.accounts.view_payments %}
  let salesCtx = document.getElementById("salesChart").getContext("2d");
  let salesChart = new Chart(salesCtx, {
    type: "bar",
    options: {
      responsive: true,
      title: {
        display: false,
        text: ""
      }
    }
  });
  {% endif %}
  {% if perms.accounts.view_user %}
  let usersCtx = document.getElementById("usersChart").getContext("2d");
  let usersChart = new Chart(usersCtx, {
    type: "bar",
    options: {
      responsive: true,
      layout: {
        padding: 10
      }
    }
  });
  {% endif %}
  </script>
  <script>
  $(document).ready(function() {
    $.ajax({
      url: "/chart/filter-options/",
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Load all the options
        jsonResponse.options.forEach(option => {
          $("#year").append(new Option(option, option));
        });
        // Load data for the first option
        loadAllCharts($("#year").children().first().val());
        console.log("Chart filter options loaded!")
      },
      error: () => console.log("Failed to fetch chart filter options!")
    });
  });

  $("#filterForm").on("submit", (event) => {
    event.preventDefault();

    const year = $("#year").val();
    loadAllCharts(year)
  });

  function loadChart(chart, endpoint) {
    $.ajax({
      url: endpoint,
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Extract data from the response
        const title = jsonResponse.title;
        const labels = jsonResponse.data.labels;
        const datasets = jsonResponse.data.datasets;

        // Reset the current chart
        chart.data.datasets = [];
        chart.data.labels = [];

        // Load new data into the chart
        chart.options.color = '#f9f9f9';
        chart.data.labels = labels;
        datasets.forEach(dataset => {
          chart.data.datasets.push(dataset);
        });
        chart.update();
      },
      error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
    });
  }

  function loadAllCharts(year) {
    loadChart(salesChart, `/chart/sales/${year}/`);
    {% if perms.accounts.view_user %}
    loadChart(usersChart, `/chart/users/${year}/`);
    {% endif %}
  }
  </script>
{% endblock body_js %}
