{% extends "layouts/dashboard.html" %}
{% load static %}
{% block title %}
  {{ title }} | Pramey Shala
{% endblock title %}
{% block content %}
  <div class="mt-12 mb-8 flex flex-col gap-12">
    <div class="flex justify-between px-6">
      <button onclick="create_referral.showModal()"
              class="btn bg-gradient-to-br from-purple-600 to-pink-400 text-white px-12 border-0 shadow-md shadow-purple-500/50">
        <i class="far fa-plus"></i>Add Referral
      </button>
      <form method="get" class="bg-white shadow-sm p-2 rounded-xl">
        <input class="input input-bordered"
               type="text"
               name="search"
               placeholder="Search users..."
               value="{{ request.GET.search }}">
        <button class="btn btn-square bg-gradient-to-br from-purple-600 to-indigo-400 text-white px-6 border-0 shadow-md shadow-indigo-500/50"
                type="submit">
          <i class="fa-regular fa-magnifying-glass"></i>
        </button>
        <a class="btn bg-gradient-to-br from-deep-orange-600 to-orange-800 text-white px-4 border-0 shadow-md shadow-deep-orange-500/50"
           href="{% url 'accounts:referrals' %}"><i class="fa-regular fa-x"></i></a>
      </form>
    </div>
    <div class="relative flex w-full flex-col rounded-xl bg-base-100 bg-clip-border text-base-content shadow-md">
      <div class="relative mx-4 -mt-6 mb-4 grid px-6 py-8 overflow-hidden rounded-xl bg-gradient-to-tr from-indigo-600 to-indigo-400 bg-clip-border text-white shadow-lg shadow-indigo-500/40">
        <h1 class="block font-sans leading-snug tracking-normal text-white antialiased text-lg font-semibold">{{ title }}</h1>
      </div>
      <div class="flex flex-col gap-4 p-6 overflow-x-auto">
        <table class="table table-auto">
          <thead class="uppercase text-sm">
            <tr>
              <th class="px-4 py-3">Referral ID#</th>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Referral URL</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </thead>
          <tfoot class="border-t border-blue-gray-50 py-3 px-5 text-left font-bold uppercase text-blue-gray-400 text-sm">
            <tr>
              <th class="px-4 py-3">Referral ID#</th>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Referral URL</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for referral in referrals %}
              <tr class="border-b border-blue-gray-50">
                <td class="px-4 py-3">{{ referral.referral_id }}</td>
                <td class="px-4 py-3">{{ referral.referral_name }}</td>
                <td class="px-4 py-3">
                  {% if perms.courses.view_referraldetails %}
                    https://prameyshala.com/register?ref={{ referral.referral_id }}
                    <button onclick="copyReferralLink('{{ referral.referral_id }}')"
                            class="btn btn-sm btn-square bg-blue-500 shadow shadow-blue-500/50 border-0">
                      <i class="fa-regular fa-copy"></i>
                    </button>
                  {% endif %}
                </td>
                <td class="flex gap-2 px-4 py-3">
                  <button onclick="update_referral_{{ referral.pk }}.showModal()"
                          class="btn btn-sm btn-success btn-square">
                    <i class="fad fa-edit"></i>
                  </button>
                  <a href="{% url 'accounts:referral-delete' pk=referral.pk %}"
                     onclick="if(confirm('Are you sure you want to delete {{ referral.referral_name }} from database?')) return true; else return false;"
                     class="btn btn-sm btn-error btn-square"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="p-5 flex justify-end">
        <div class="join">
          {% if page_obj.has_previous %}
            <a class="join-item btn btn-primary"
               href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">previous</a>
          {% endif %}
          <span class="join-item btn btn-disabled">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span>
          {% if page_obj.has_next %}
            <a class="join-item btn btn-primary"
               href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">next</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <dialog id="create_referral"
          class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
    <form method="post"
          enctype="multipart/form-data"
          class="modal-box sm:max-w-5xl">
      {% csrf_token %}
      <h2 class="font-mono font-semibold text-lg">Add New Referral</h2>
      <div class="relative mb-4">
        <div class="form-control w-full djanog-custom-forms grid grid-cols-1 md:grid-cols-2 gap-4">{{ form.as_div }}</div>
      </div>
      <div class="modal-action justify-between">
        <p class="text-xs mt-auto">Press esc to close the window or outside the dialog box.</p>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
    <form method="dialog" class="modal-backdrop backdrop-blur-md">
      <button>close</button>
    </form>
  </dialog>
  {% for referral in referrals %}
    <dialog id="update_referral_{{ referral.pk }}"
            class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
      <form method="post"
            enctype="multipart/form-data"
            action="{% url 'accounts:referral-update' pk=referral.pk %}"
            class="modal-box sm:max-w-5xl">
        {% csrf_token %}
        <h2 class="font-mono font-semibold text-lg">Update - {{ referral.referral_name }}</h2>
        <div class="relative mb-4">
          <div class="form-control w-full djanog-custom-forms grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ referral.form.as_div }}
          </div>
        </div>
        <div class="modal-action justify-between">
          <p class="text-xs mt-auto">Press esc to close the window or outside the dialog box.</p>
          <button type="submit" class="btn btn-success shadow">Update</button>
        </div>
      </form>
      <form method="dialog" class="modal-backdrop backdrop-blur-md">
        <button>close</button>
      </form>
    </dialog>
  {% endfor %}
{% endblock content %}
{% block body_js %}
  <script>
  const copyReferralLink = async (referralId)=> {
    const prameyshalaReferralUrl = `https://prameyshala.com/register?ref=${referralId}`
    try {
      await navigator.clipboard.writeText(prameyshalaReferralUrl);
      alert("Referral URL copied successfully.")
    } catch (err) {
      alert("Failed to copy referral url.");
    }
  }
  </script>
{% endblock body_js %}
